* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  padding: 8px;
  max-height:90px;
  height:3.68rem;
  width: 100%;
  
  border-radius: 50px;
  border: 1px solid #d4d6d5;
  display: flex;
  justify-content:space-between;
  align-items: center;

}
.searchInput{
  height:1.7rem;
  width:83%;
  font-size:1.1rem;
  border:0px;
}
.searchInput:focus{
  outline:none;

}
.image-icon{
  height:1.35rem;
  width:1.35rem;
  color:#575b5f;
}
.microphone-icon{
  height:1.35rem;
  width:1.35rem;
  color: #575b5f;
}
.onsend-icon{
  height:1.2rem;
  width:1.2rem;
}
.icon-container{
  height:2.7rem;
  width:2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
 
}
.icon-container:hover{
  background-color: #f0f4f9;
  cursor: pointer;
}
.icon-container-onsend-icon{
  background-color: #f0f4f9;
}
